@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Salsa&display=swap');
nav,.navbar, .navbar-brand {
    font-size:x-large !important;
    text-shadow: 0 0 10px;
    font-family: 'Lemon', serif;
    padding-left: 25px;
    background-color: #901B76 !important;
    justify-content: space-between;
    
}
/* .container-fluid{
  justify-content: start !important;
} */
.split{
  align-items: right;
  padding-right: 20px;
}

main {
  padding-right: 10pt;
  padding-left: 10pt;
}

img {
  opacity: 0.5;
  content: inherit;
  height: 300px;
}

.card {
  margin: 7pt;
  font-family: 'Salsa', cursive;
}

.img-fluid{
  opacity: 100%;
  width: 60px;
  height: 60px;
}

.card-img-overlay {
  /* padding-top: 45%; */
  text-align: bottom;
}
button{
    font-weight: 300;
}